:root {
  --color-green: #1d9a78;
  --color-grey: #707070;
  --color-light-blue: #f1feff;
  --color-red: #ff0000;
  --color-link: #6395af;
  --color-white: #ffffff;
  --color-border-light-grey: #e5e7e9;
  --color-border-grey: #6d7c85;
  --color-border-dark-grey: #3c4449;
  --color-background-light-blue: #ecf5ff;
  --color-background-dark-blue: #0f1e54;
  --color-text: #464646;
  --color-text-grey: #3c4449;
  --color-table-header: #a7a9c0;
  --default-font-size: 16px;
  --small-gutters: 12px;
  --default-gutters: 24px;
  --big-gutters: 44px;
}
